<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.self.sell.modules.order.dao.OrderMasterMapper">
  <resultMap id="BaseResultMap" type="com.self.sell.modules.order.entity.OrderMaster">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
    <result column="buyer_phone" jdbcType="VARCHAR" property="buyerPhone" />
    <result column="buyer_address" jdbcType="VARCHAR" property="buyerAddress" />
    <result column="buyer_openid" jdbcType="VARCHAR" property="buyerOpenid" />
    <result column="buyer_amount" jdbcType="DECIMAL" property="buyerAmount" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="pay_status" jdbcType="TINYINT" property="payStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>